name: CI/CD Pipeline  # Бұл жұмыс атауы, файл аты емес
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout репозиторий
        uses: actions/checkout@v3
      - name: Build
        run: echo "Build сәтті өтті"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Deploy сәтті өтті"
